.nav-link:hover {
    color: blue !important;
}

body {
    font-family:'Times New Roman', Times, serif;
}

ul {
    li {
        a {
            text-decoration: none;
        }
        a:hover {
            color: blue !important;
        }
    }
}